<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Tutorial 1</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
	<h1>Boston housing forecasting</h1>
	<h2>Provide CRIM, RM and LSTAT</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="per capita crime rate" placeholder="per capita crime rate" required="required" />
        <input type="text" name="number of rooms" placeholder="number of rooms" required="required" />
	<input type="text" name="percent lower status" placeholder="percent lower status" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict price</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>